.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  background-color: black;
  animation: 3s ease-in 1s infinite running falling;
}
.itemsForm {
  margin: 0.4rem;
  width: 80%;
  animation: 3s ease-in 1s infinite running falling;
}
@keyframes falling {
  from {
    top: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
