.containerCart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  box-shadow: 10px 5px 5px grey;
  min-width: 240px;
  max-width: 250px;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 700px) {
  .formContainer {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 410px) {
  .formContainer {
    width: 90%;
  }
}
