.container {
  width: 100%;
  margin: -8px 0.5rem 0 0.5rem;
}
.container h1 {
  text-align: center;
  color: var(--primary-dark);
  font-size: 25px;
  font-weight: bold;
}
.cardContainer {
  display: flex;
  overflow-x: scroll;
  margin-top: 18px;
}
.trainingHeader {
  text-align: center;
  margin-top: 16px;
  background-color: var(--primary-dark);
  display: inline-block;
  color: var(--primary-letter);
  padding: 10px 19px;
  border-radius: 33px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 810px) {
  .container h1 {
    font-size: 40px;
  }
  .cardContainer {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin-top: 42px;
  }
  .trainingHeader {
    margin-top: 32px;
  }
}
