:root {
  --font-size: 12px;
}

@media (min-width: 600px) {
  :root {
    --font-size: 16px;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size: 20px;
  }
}

body {
  font-size: var(--font-size);
  background-color: var(--primary-normal);
  --primary-normal: #635540de;
  --primary-dark: #202109;
  --primary-light: #c39d68de;
  --primary-letter: #aeb530;
}
h1,
h2,
h4 {
  color: var(--primary-letter);
}
p {
  color: var(--primary-normal);
}
.containerBodySchema {
  text-align: center;
}
.searchExercicesDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
}
@media screen and (min-width: 810px) {
  .searchExercicesDiv {
    justify-content: center;
    overflow-x: scroll;
  }
}
/* --primary-normal: #202109;
  --primary-dark: #635540de; */
