:root {
  --font-size: 12px;
}

@media (min-width: 600px) {
  :root {
    --font-size: 16px;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size: 20px;
  }
}

body {
  font-size: var(--font-size);
  background: linear-gradient(0.25turn, #080101, #ffff09, #080101);
}

.containerBodySchema {
  text-align: center;
}
.searchExercicesDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
}
