.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #331d2c;
  align-items: flex-start;
  animation: 2s slidein;
  background-color: rgb(66, 55, 55);
  color: white;
  padding: 1rem;
  margin: 0.2rem;
}

@keyframes slidein {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
