.containerCart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  box-shadow: 10px 5px 5px grey;
  min-width: 240px;
  max-width: 250px;
}
@media screen and (min-width: 700px) {
  .containerCart {
    width: 30%;
  }
}
@media screen and (max-width: 410px) {
  .containerCart {
    width: 90%;
  }
}

.image {
  width: 90%;
  height: 90%;
  border-radius: 1rem;
}
