.cartContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 410px) {
  .cartContainer {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  margin: 1rem;
  align-items: flex-start;
}
